$default__color--hover: #fce38a;
$default__color--text: #333333;
$default__color--text--grey: #999999;
$default__color--item--bgc: #95e1d3;
$default__color--item--hover: #f38181;
$default__color--white: #ffffff;